<header>
  <link rel="stylesheet" type="text/css" href="stylesheets/header.css" />
  <div class="pane">
    <img src="http://www.utesa.edu/webutesa/IMAGES/LogoUtesaSC.gif" alt="">
    <h1>UNIVERSIDAD TECNOLOGICA DE SANTIAGO</h1>
  </div>
  <div class="navbar">
      <a href="index">Inicio</a>
      <a href="message">Mensaje del rector</a>
      <a href="posts">Publicaciones</a>
      <a href="activities">Actividades</a>
      <a href="news">Noticias</a>
      <a href="mail">E-Mail</a>
  </div>
</header>
