<link rel="icon" href="images/favicon.ico">
<header>
  <link rel="stylesheet" type="text/css" href="stylesheets/header.css" />
  <div class="pane">
    <img src="http://www.utesa.edu/webutesa/IMAGES/LogoUtesaSC.gif" alt="">
    <h1>UNIVERSIDAD TECNOLÓGICA DE SANTIAGO</h1>
  </div>
  <div class="navbar">
      <a href="index">Inicio</a>
      <a href="campus">Campus virtual</a>
      <a href="library">Biblioteca</a>
      <a href="mail">E-Mail</a>
  </div>
</header>
